<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email address</label>
                        <input type="text" class="form-control" id="txtEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputGender">Gender</label>
                        <select id="ddlGender" name="Gender" class="form-control">
                            <option value="-1">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMobile">Mobile</label>
                        <input type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSalary">Salary</label>
                        <input type="text" class="form-control" id="txtSalary" placeholder="Enter Salary">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Address</label>
                        <textarea name="Address" id="txtAddress" class="form-control" placeholder="Enter Address"></textarea>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="~/js/PostEmployee.js"></script>